<h1>Formulário</h1>
<form action="/edit-usuario/{{usuarios.id}}" method="POST">
ID: {{usuarios.id}}
<label>Nome</label>
<input type="text" name="nome"value="{{usuarios.nome}}"><br><br>
<label>Valor</label>
<input type="text" name="senha" value="{{usuarios.senha}}"><br><br>
<label>Email</label>
<input type="text" name="email" value="{{usuarios.email}}"><br><br>
<button type="sumbit">Atualizar</button>
</form>